# by default gitlab will run on localhost (i.e. same host where tests are run) listening on port 5002
# this can be overriden with environment variables: GITLAB_HOST & GITLAB_PORT & GITLAB_ADDRESS
# Eg: 
# env GITLAB_HOST="myserver.example.com" GITLAB_PORT="8002" docker-compose up -d
# env GITLAB_HOST="myserver.example.com" GITLAB_PORT="8002" ./script/await-healthy.sh
# env GITLAB_ADDRESS="http://myserver.example.com:8002/api/v4" poetry run pytest -m 'e2e'

version: '3'

services:
  gitlab-ee:
    image: gitlab/gitlab-ee:${GITLAB_EE_VERSION:-latest}
    restart: always
    ports:
      - ${GITLAB_PORT:-5002}:80
    environment:
      GITLAB_ROOT_PASSWORD: adminadmin
      GITLAB_OMNIBUS_CONFIG: |
        external_url "http://${GITLAB_HOST:-127.0.0.1}:${GITLAB_PORT:-5002}"
        nginx['listen_port'] = 80
    labels:
      foxops-gitlab/owned: ''
    volumes:
      - config-ee:/etc/gitlab
      - logs-ee:/var/log/gitlab
      - data-ee:/var/opt/gitlab
      - ${PWD}/scripts/healthcheck-and-setup.sh:/healthcheck-and-setup.sh:Z
    healthcheck:
      test: /healthcheck-and-setup.sh
      interval: 10s
      timeout: 2m

volumes:
  config-ce:
  logs-ce:
  data-ce:
  config-ee:
  logs-ee:
  data-ee: