name: CD

on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  FORCE_COLOR: "1"  # Make tools pretty.
  PYTHON_LATEST: "3.12"

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  deploy-pypi:
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_LATEST }}

      - run: python -m pip install build twine
      - run: python -m build --sdist --wheel .

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  deploy-ghcr:
    needs: [ci]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/roche/foxops:latest
            ghcr.io/roche/foxops:${{ github.ref_name }}
